@import url("https://fonts.cdnfonts.com/css/le-jour");
@import url("https://fonts.cdnfonts.com/css/allrounder-monument-test");

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2c2d2a;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1e20;
  width: 100%;
  height: 100vh;
  color: #2c2d2a;
  overflow: hidden;
  font-family: Le jour, sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #ffe4c4;
}
header {
  width: 97%;
  display: grid;
  grid-template-columns: 50% auto;
  position: fixed;
  left: 15px;
  z-index: 999;
  .logo {
    font-size: 45px;
  }
  nav {
    text-align: right;
    a {
      padding: 15px 15px;
      display: inline-block;
      cursor: pointer;
    }
  }
}

.car-swiper {
  position: relative;
}

.swiper-slide {
  display: grid;
  grid-template-columns: 40% auto;
}
.left-slide {
  font-family: le jour;
  display: grid;
  place-items: center;
  place-content: center;
  h3 {
    font-size: 50px;
  }
  h1 {
    font-family: "Allrounder Monument Test", sans-serif;
    font-size: 85px;
  }
  h2 {
    font-size: 45px;
    font-family: monument extended;
    font-weight: 400;
  }
  a {
    padding: 10px 20px;
    background: #2c2d2a;
    border: 2px solid #2c2d2a;
    color: #fff;
    margin-top: 20px;
    &:hover {
      background: #fff;
      color: #2c2d2a;
      border: 2px solid #2c2d2a;
    }
  }
}
.right-slide {
  position: relative;
  display: grid;
  place-items: center;
  place-content: center;
  .rbg-img {
    width: 450px;
    height: 550px;
    margin-top: 30px;
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 45%;
      border-top-right-radius: 45%;
      object-fit: cover;
    }
  }
  .rover-img {
    position: absolute;
    bottom: 0%;
    left: 30%;
    img {
      width: 400px;
      object-fit: cover;
    }
  }
}
.swiper-pagination {
  position: absolute;
  left: 28px;
  bottom: -80px;
  width: auto;
  z-index: 2;
  font-family: monument extended;
  font-size: 30px;
}
.button-wrapper {
  position: absolute;
  right: 30px;
  bottom: -80px;
  z-index: 1;
  display: flex;
  align-items: center;

  .swiper-button {
    border: 1px solid #1d1e20;
    display: grid;
    place-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    margin: 5px;
    &:hover {
      background-color: #fff;
      background-position: left bottom;
    }
  }
}

// animatin start here
.swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
  &-active {
    opacity: 1 !important;
  }
}
.swiper-slide > * {
  transform: translateY(-100px);
  transition-duration: 0.8s;
  opacity: 0;
}
.swiper-slide-active > * {
  transform: none;
  opacity: 1;
}

.swiper-slide .rbg-img .right-bg {
  transform: translateY(500px);
  transition-duration: 0.8s;
  opacity: 0;
  object-fit: 50%;
}
.swiper-slide-active .rbg-img .right-bg {
  transform: none;
  opacity: 1;
  object-fit: 100%;
}

.swiper-slide .rover-img {
  transform: scale(0.6);
  transition-duration: 0.8s;
  opacity: 0;
  object-fit: 50%;
}
.swiper-slide-active .rover-img {
  transform: scale(1.6);
  opacity: 1;
  object-fit: 100%;
}

[data-sld="1"] {
  .container {
    background: #c4ecff;
  }
}
[data-sld="2"] {
  .container {
    background: #f3bd7b;
  }
}

[data-sld="3"] {
  .container {
    background: #ffe4c4;
  }
}
